In [94]:
import pandas as pd

In [95]:
# Load the dataset
df = pd.read_csv("adult.data.csv", header=0)

In [96]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,40,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,39,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,50,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,38,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,53,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32557,27,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
32558,40,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
32559,58,Private,201490.0,HS-grad,9.0,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,20.0,United-States,<=50K
32560,22,Self-emp-inc,287927.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40.0,United-States,>50K
32561,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
# 1. Race distribution
print("Race distribution:")
print(df['race'].value_counts(), "\n")

Race distribution:
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [99]:
# 2. Average age of men
avg_age_men = round(df[df['sex'] == "Male"]['age'].mean(), 1)
print(f"Average age of men: {avg_age_men}")

Average age of men: 38.5

In [100]:

# 3. Percentage with Bachelors degrees
percent_bachelors = round((df[df['education'] == "Bachelors"].shape[0] / df.shape[0]) * 100, 1)
print(f"Percentage with Bachelors degrees: {percent_bachelors}%")

Percentage with Bachelors degrees: 16.4%

In [101]:
# 4. Percentage with advanced education earning >50K
filters = ['Bachelors', 'Masters', 'Doctorate']
higher_edu = df[df['education'].isin(filters)]
percent_higher_edu_rich = round(higher_edu['salary'].value_counts(normalize=True)[">50K"] * 100, 1)
print(f"Percentage with higher education earning >50K: {percent_higher_edu_rich}%")

Percentage with higher education earning >50K: 46.5%

In [102]:

# 5. Percentage without advanced education earning >50K
lower_edu = df[~df['education'].isin(filters)]
percent_lower_edu_rich = round(lower_edu['salary'].value_counts(normalize=True)[">50K"] * 100, 1)
print(f"Percentage without higher education earning >50K: {percent_lower_edu_rich}%")

Percentage without higher education earning >50K: 17.4%

In [103]:
# 6. Min hours per week
min_hours = df['hours-per-week'].min()
print(f"Minimum hours per week: {min_hours}")

Minimum hours per week: 1.0

In [104]:
# 7. Rich percentage among those who work minimum hours
min_workers = df[df['hours-per-week'] == min_hours]
rich_min_workers = round(min_workers['salary'].value_counts(normalize=True).get(">50K", 0) * 100, 1)
print(f"Percentage of rich among those who work fewest hours: {rich_min_workers}%")

Percentage of rich among those who work fewest hours: 10.0%

In [105]:

# 8. Country with highest percentage of rich (>50K)
rich_counts = df[df.salary == ">50K"].groupby("native-country")["salary"].count()
total_counts = df["native-country"].value_counts()
rich_percent = (rich_counts / total_counts) * 100
highest_rich_country = rich_percent.idxmax()
highest_rich_value = round(rich_percent.max(), 1)
print(f"Country with highest percentage of rich: {highest_rich_country}")
print(f"Highest percentage of rich people in country: {highest_rich_value}%")

Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%

In [106]:

# 9. Most popular occupation for those earning >50K in India
top_IN_occupation = df[(df['native-country'] == "India") & (df['salary'] == ">50K")]['occupation'].value_counts().idxmax()
print(f"Top occupation for those earning >50K in India: {top_IN_occupation}")

Top occupation for those earning >50K in India: Prof-specialty